<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Mercado Independência</title>
</head>

<body>
    <!--CABEÇALHO -->
    <header>
        <nav>
            <div>
                <div>MiniMercado Independência</div>
                <ul>
                    <li><a href="/mini-mercado/index.html">Início</a></li>
                    <li>
                        <a>Categorias</a>
                        <ul>
                            <li><a href="/mini-mercado/template/frutas-e-verduras.html">Frutas e Verduras</a></li>
                            <li><a href="/mini-mercado/template/nao-pereciveis.html">Não Perecíveis</a></li>
                            <li><a href="/mini-mercado/template/higiene.html">Higiene</a></li>
                        </ul>
                    </li>
                    <li><a href="/mini-mercado/template/servicos.html">Serviços</a></li>
                    <li><a href="/mini-mercado/template/contato.html">Contato</a></li>
                    <li><a href="/mini-mercado/template/carrinho.html">🛒 Carrinho</a></li>
                </ul>

                <div>
                    <a href="">Login</a>
                    <a href="">Cadastre-se</a>
                </div>
            </div>
        </nav>
    </header>

    <!--CONTEUDO -->
    <main>

        <section>
            <div>
                <!--informações de contato -->
                <h2>Informações de Contato</h2>
                <p><strong>Endereço:</strong> Av. Independência - Centro, Porto Alegre - RS</p>
                <p><strong>Telefone:</strong> (51) 9999-9999</p>
                <p><strong>E-mail:</strong> cliente@gmail.com</p>
                <p><strong>Horário de Atendimento:</strong><br>
                    Segunda a Sábado, das 8h às 18h
                </p>
                <p><strong>Siga-nos:</strong>
                    <a href="">Instagram</a>
                    <a href="">Facebook</a>
                </p>

                <!--mapa -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3454.260606936216!2d-51.2165359370151!3d-30.029380451761057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1754528751754!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div>
                <!--formulario de contato -->
                <form>
                    <input type="text" placeholder='Nome' />
                    <input type="text" placeholder='Email' />
                    <textarea cols={30} rows={10} placeholder='Mensagem'></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>


        </section>
    </main>

    <!--RODAPÉ -->
    <footer>
        <div>
            <h1>Contato</h1>
            <p>Contato: cliente@gmail.com</p>
            <p>Telefone: (51) 99999-9999</p>
            <p>Endereço: Av. Independência - Porto Alegre, RS</p>
        </div>
        <div>
            <h1>Sobre</h1>
            <p>Horário de funcionamento: Segunda a Sábado, das 8h às 18h</p>
            <p>Mercado local com variedade e qualidade.</p>
        </div>
        <div>
            <h1>Termos</h1>
            <p>Todos os direitos reservados Mercado Independência - 2025</p>
        </div>
        <div>
            <h2>Links Rápidos</h2>
            <nav>
                <a href="/mini-mercado/index.html">Produtos</a> |
                <a href="/mini-mercado/template/servicos.html">Serviços</a> |
                <a href="/mini-mercado/template/contato.html">Contato</a>
            </nav>
        </div>
        <div>
            <h2>Redes Sociais</h2>
            <a href="#">Facebook</a><br>
            <a href="#">Instagram</a><br>
            <a href="#">WhatsApp</a>
        </div>

        <div>
            <p>&copy; 2025 Mercado Independência. Todos os direitos reservados | Desenvolvido por Carlos Henrique Tem-Pass Finger</p>
        </div>
    </footer>
</body>

</html>