<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Mercado Independência</title>
</head>

<body>
    <!--CABEÇALHO -->
    <header>
        <nav>
            <div>MiniMercado Independência</div>
            <ul>
                <li><a href="/mini-mercado/index.html">Início</a></li>
                <li>
                    <a>Categorias</a>
                    <ul>
                        <li><a href="frutas-e-verduras.html">Frutas e Verduras</a></li>
                        <li><a href="nao-pereciveis.html">Não Perecíveis</a></li>
                        <li><a href="higiene.html">Higiene</a></li>
                    </ul>
                </li>
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="carrinho.html">🛒 Carrinho</a></li>
            </ul>
            <div>
                <a href="">Login</a> 
                <a href="">Cadastre-se</a>
            </div>
        </nav>
    </header>

    <!--CONTEUDO -->
    <main>
        <section>
            <!--frutas e verduras -->
            <h2>Frutas e Verduras</h2>
            <div>
                <img src="banana.jpg">
                <p>Banana</p>
                <p>R$ 3,50/kg</p>
                <button>Adicionar ao Carrinho</button>
            </div>
            <div>
                <img src="alface.jpg">
                <p>Alface</p>
                <p>R$ 2,00</p>
                <button>Adicionar ao Carrinho</button>
            </div>
        </section>
    </main>

    <!--RODAPÉ -->
    <footer>
        <div>
            <h1>Contato</h1>
            <p>Contato: cliente@gmail.com</p>
            <p>Telefone: (51) 99999-9999</p>
            <p>Endereço: Av. Independência - Porto Alegre, RS</p>
        </div>
        <div>
            <h1>Sobre</h1>
            <p>Horário de funcionamento: Segunda a Sábado, das 8h às 18h</p>
            <p>Mercado local com variedade e qualidade.</p>
        </div>
        <div>
            <h1>Termos</h1>
            <p>Todos os direitos reservados Mercado Independência - 2025</p>
        </div>
        <div>
            <h2>Links Rápidos</h2>
            <nav>
                <a href="/index.html">Produtos</a> |
                <a href="servicos.html">Serviços</a> |
                <a href="contato.html">Contato</a>
            </nav>
        </div>
        <div>
            <h2>Redes Sociais</h2>
            <a href="#">Facebook</a><br>
            <a href="#">Instagram</a><br>
            <a href="#">WhatsApp</a>
        </div>

        <div>
            <p>&copy; 2025 Mercado Independência. Todos os direitos reservados.</p>
        </div>
    </footer>


</body>

</html>