<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Mercado Independência</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/mini-mercado/style.css">
</head>

<body>
    <!--CABEÇALHO -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/mini-mercado/index.html">MiniMercado <span>Independência</span></a>
            </div>

            <ul class="menu">
                <li><a href="/mini-mercado/index.html">Início</a></li>
                <li class="dropdown">
                    <a href="#">Categorias ▾</a>
                    <ul class="submenu">
                        <li><a href="/mini-mercado/template/frutas-e-verduras.html">Frutas e Verduras</a></li>
                        <li><a href="/mini-mercado/template/nao-pereciveis.html">Não Perecíveis</a></li>
                        <li><a href="/mini-mercado/template/higiene.html">Higiene</a></li>
                    </ul>
                </li>
                <li><a href="/mini-mercado/template/servicos.html">Serviços</a></li>
                <li><a href="/mini-mercado/template/contato.html">Contato</a></li>
                <li><a href="/mini-mercado/template/carrinho.html">🛒 Carrinho</a></li>
            </ul>

            <div class="auth">
                <button href="#" type="button" class="btn btn-dark">Login</button>
                <button href="#" type="button" class="btn btn-light">Cadastre-se</button>
            </div>
        </nav>
    </header>

    <!--CONTEUDO -->
    <main>
        <section class="container my-5">
            <h2 class="mb-4">Frutas e Verduras</h2>
            <div class="row g-4">
                <div class="col-md-3 col-sm-6">
                    <div class="card h-100 text-center">
                        <img src="/mini-mercado/imagens/banana.avif" class="card-img-top" alt="Banana">
                        <div class="card-body">
                            <h5 class="card-title">Banana</h5>
                            <p class="card-text text-success fw-bold">R$ 3,50/kg</p>
                            <button class="btn btn-success">Adicionar ao Carrinho</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card h-100 text-center">
                        <img src="/mini-mercado/imagens/alface.jpg" class="card-img-top" alt="Alface">
                        <div class="card-body">
                            <h5 class="card-title">Alface</h5>
                            <p class="card-text text-success fw-bold">R$ 2,00</p>
                            <button class="btn btn-success">Adicionar ao Carrinho</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <!-- RODAPÉ -->
    <footer class="bg-dark text-light text-center p-4 mt-5">
        <div class="row">
            <div class="col-md-3">
                <h5>Contato</h5>
                <p>cliente@gmail.com</p>
                <p>(51) 99999-9999</p>
                <p>Av. Independência - Porto Alegre, RS</p>
            </div>
            <div class="col-md-3">
                <h5>Sobre</h5>
                <p>Segunda a Sábado, das 8h às 18h</p>
                <p>Mercado local com variedade e qualidade.</p>
            </div>
            <div class="col-md-3">
                <h5>Links Rápidos</h5>
                <a href="/mini-mercado/index.html" class="text-light">Produtos</a><br>
                <a href="/mini-mercado/template/servicos.html" class="text-light">Serviços</a><br>
                <a href="/mini-mercado/template/contato.html" class="text-light">Contato</a>
            </div>
            <div class="col-md-3">
                <h5>Redes Sociais</h5>
                <a href="#" class="text-light">Facebook</a><br>
                <a href="#" class="text-light">Instagram</a><br>
                <a href="#" class="text-light">WhatsApp</a>
            </div>
        </div>
        <hr class="bg-light">
        <p>&copy; 2025 Mercado Independência. Todos os direitos reservados | Desenvolvido por Carlos Henrique Tem-Pass
            Finger</p>
    </footer>
    <script src="/mini-mercado/script.js"></script>
</body>

</html>