<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mercado Progresso</title>
</head>

<body>
    <!--CABEÇALHO -->
    <header>
        <nav>
            <div>MiniMercado</div>
            <ul>
                <li><a href="/index.html">Início</a></li>
                <li>
                    <a href="">Categorias</a>
                    <ul>
                        <li><a href="frutas-e-verduras.html">Frutas e Verduras</a></li>
                        <li><a href="nao-pereciveis.html">Não Perecíveis</a></li>
                        <li><a href="higiene.html">Higiene</a></li>
                    </ul>
                </li>
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="carrinho.html">🛒 Carrinho</a></li>
            </ul>
            <div>
                <a href="">Login</a> 
                <a href="">Cadastre-se</a>
            </div>
        </nav>
    </header>

    <!--CONTEUDO -->
    <main>

        <section>
            <!--alimentos não perecíveis -->
            <h2>Alimentos Não Perecíveis</h2>
            <div>
                <img src="arroz.jpg">
                <p>Arroz 5kg</p>
                <p>R$ 20,00</p>
                <button>Adicionar ao Carrinho</button>
            </div>
            <div>
                <img src="feijao.jpg" alt="Feijão">
                <p>Feijão 1kg</p>
                <p>R$ 7,00</p>
                <button>Adicionar ao Carrinho</button>
            </div>
        </section>
    </main>

    <!--RODAPÉ -->
    <footer>
        <div>
            <h1>Contato</h1>
            <p>Contato: carloshtempass@gmail.com</p>
            <p>Telefone: (51) 99999-9999</p>
            <p>Endereço: Rua 25 de dezembro - São Sebastião do Caí, RS</p>
        </div>
        <div>
            <h1>Sobre</h1>
            <p>Horário de funcionamento: Segunda a Sábado, das 8h às 18h</p>
            <p>Mercado local com variedade e qualidade.</p>
        </div>
        <div>
            <h1>Termos</h1>
            <p>Todos os direitos reservados Mercado Progresso - 2025</p>
        </div>
        <div>
            <h2>Links Rápidos</h2>
            <nav>
                <a href="">Produtos</a> |
                <a href="">Serviços</a> |
                <a href="">Contato</a>
            </nav>
        </div>
        <div>
            <h2>Redes Sociais</h2>
            <a href="#">Facebook</a><br>
            <a href="#">Instagram</a><br>
            <a href="#">WhatsApp</a>
        </div>

        <div>
            <p>&copy; 2025 Mercado Progresso. Todos os direitos reservados.</p>
        </div>
    </footer>


</body>

</html>